#allDiv{
	width: 98%;
	padding: 1% 1%;
	background: #dddddd;
	border-radius: 15px;
	
}
.functionDiv {
	margin: 15px 15px;
	padding: 10px 10px;
	background: #bbbbbb;
	border-radius: 10px;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 45px; /* Specified height */
	outline: none; /* Remove outline */
	opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	cursor: pointer;
	border-radius: 5px;
}
.red {
	background: #ff0000; /* Red background */
}
.green {
	background: #00ff00; /* Green background */
}
.blue {
	background: #0000ff; /* Blue background */
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 30px; /* Set a specific slider handle width */
	height: 40px; /* Slider handle height */
	background: #aaaaaa; /* grey background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 35px; /* Round handle*/
	border: 2px solid #666666;
}

.slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #aaaaaa; /* grey background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 25px; /* Round handle*/
}

.button {
	width: 100%;
	border: none;
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	padding: 2px 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
	border-radius: 5px;
}

.button:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

input[type="radio"] {
  margin-top: -4px;
  vertical-align: middle;
}

.radioContainer{
	width: 100%
	height: 20px;
	overflow: auto;
	text-align: center;
	border: none;
	color: black;
	padding: 10px 10px;
	font-size: 35px;
	font-weight: bold;
}

.label{
	background-color: #999999;
	padding: 5px 20px;
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	text-shadow: 0 2px #aaaaaa, 2px 0 #aaaaaa;
	margin: 4px 2px;
}

.label:hover{
	background-color: #000;
	color: white;
	
}

#buttonAll{
	width: 98%;
	background: #bbbbbb; /* grey background */
	margin: 1px 15px;
	border-radius: 10px;
}

.textOnSlider{
	pointer-events: none;
	position: relative;
	bottom: 45px;
	left: 10px;
	font-size: 38px;
	font-weight: bold;
}